@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


* {
	box-sizing: border-box;
    
    
}

body {
    background-color: #F5F5F5;
    font-family: 'Jost', sans-serif;
    color: #FAA31B;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

/* ---------------- HEADER ------------------ */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    padding: 20px;
}

.logo img {
    height: 50px;
    float: left;
}

.navigation {
    float: right;
}

.nav-button {
    color: #727272;
    display: inline-block;
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 0 15px;
}
.name-button {
    color: #FAA31B;
    display: inline-block;
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 0 15px;
}

.nav-button:hover {
    color: #FAA31B;
    cursor: pointer;
}
.nav-button:focus {
    color: #FAA31B;
}

.content {
    clear: both;
}

/* ---------------- HOME PAGE ------------------ */
h2 {
    text-align: center;
    font-family: 'Italiana', serif;
    font-size: 40px;
    letter-spacing: 4px;
    padding:0;
    margin:0;
    padding-top: 80px;
    padding-bottom: 8px;
    
    
}
img.home_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 160px;
}
h3 {
    text-align: center;
    font-family: 'Italiana', serif;
    font-size: 60px;
    letter-spacing: 7px;
    padding:0;
    margin:0;
    top: 10px;
}

/* ---------------- MAIN CONTENT ------------------ */
#content {
    position: relative;
}

#content #calendar-container {
    width: 100%;
    margin: 0 auto;
    
    
}

/* ---------------- MENU BUTTON ------------------ */
.menu-container {
    float: left;
    position: absolute;
    top: 37px;
    left: 115px;
    z-index: 9999;
    
}
.menu-toggle {
    width: fit-content;
    cursor: pointer;
}

.menu-toggle:hover {
    color: #545454;
}

.bar1,
.bar2,
.bar3 {
    width: 20px;
    height: 1px;
    background-color: #FAA31B;
    margin: 6px 0;
    transition: 0.4s;

}

.change .bar1 {
    transform: translate(0, 7px) rotate(-45deg);
    color: #545454;
}

.change .bar2 {
    opacity: 0;
    color: #545454;
}
.change .bar3 {
    transform: translate(0, -7px) rotate(45deg);
    color: #545454;
}
.dropdown-menu {
    padding: 20px 0;
    border-radius: 15px;
    background-color: #FAA31B;
}
.hidden {
    visibility: hidden;
}
.active {
    visibility: visible;
}
.dropdown-menu a {
    display: block;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    padding: 10px 40px;
}
.dropdown-menu a:hover {
    background-color: #f9b03b;
}

/* ---------------- MONTHLY ------------------ */

.monthHeading {
    text-align: center;
    color: #FAA31B;
    position: relative;
    left: 45px;
}

.monthHeading .nav-arrows {
    float: right;
    position: relative;
    right: 450px;
    bottom: 5px;
    
}

.monthHeading button {
    border: none;
    width: 40px;
    height: 40px;
    margin: 2px;
    border-radius: 50%;
    background-color: #F5F5F5;
    color: #FAA31B;
    font-size: 20px;
}

.monthHeading button:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.row-0,
.row {
    display: flex;
    justify-content: center;
}

.dayHeading {
    width: 150px;
    height: 40px;
    color: #FAA31B;
    text-align: center;
    line-height: 40px;
    margin: 2px;
}

.day-cont {
    display: flex;
    justify-content: right;
    width: 150px;
    height: 130px;
    border: 1px solid #FAA31B;
    background-color: #F5F5F5;
    text-align: center;
    line-height: 70px;
    margin: 2px;
    z-index: 2;
    transition: 80ms ease-out;
    
}

.day-cont:hover {
    border: 2px solid #FAA31B;
    transform: scale(1.01);
    box-shadow: 0 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.day-cont:active {
    transform: scale(0.99);
    opacity: 0.6;
}

.day-cont .date-marker {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin: 5px;
}

/* ---------------- FOOTER ------------------ */

footer.footer {
    background-color: #F5F5F5;
    border-top: 1px solid #F5F5F5;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid lightgrey;
    padding: 20px;
    margin-top: 50px;
}

.copyright {
    text-align: center;
    color: #FAA31B;
}

/* ---------------- WEEKLY ------------------ */

.weekHeading {
    text-align: center;
    color: #FAA31B;
    height: 52px;
    padding-left: 90px;
}

.div-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-arrows {
    float: right;
    right: 45px;
    height: 51px;
    margin-left: 114px;
}

.nav-arrows button {
    border: none;
    width: 40px;
    height: 40px;
    margin: 2px;
    border-radius: 50%;
    background-color: #F5F5F5;
    color: #FAA31B;
    font-size: 20px;
}

.nav-arrows button:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

#content #calendar-container {
    color: #FAA31B;
    display: flex;
    flex-direction: column;
    animation: editopen 0.5s;
}

.week-header-row {
    display: flex;
    text-align: center;
    background-color: #F5F5F5;
    margin-left: 110px;
    margin-right: 85px;
    border-left: 1px solid #FAA31B;
    border-top: 1px solid #FAA31B;
    border-right: 1px solid #FAA31B;
    width:83%;
}

.today .day-number {
    background-color: #FAA31B;
    color: #F5F5F5;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin: auto;
  }

.header-cell {
    flex: 1;
    text-align: center;
    font-weight: 400;
    padding: 0.5em;
    font-family: 'Jost', sans-serif;
}

.header-cell-first {
    flex: none;
    width: 55px;
}

.div-header-row {
    display: flex;
    font-weight: 100;
    width:100%;
}

.day-number {
    color: #FAA31B;
}

.hour-row {
    display: flex;
    height: 120px;
    width: 83%;
    border-top: 1px solid #FAA31B;
}

.hour-row-first {
    display: flex;
    height: 120px;
    width: 83%;
    border-top: 1px solid #FAA31B;
}

.hour-row-last {
    display: flex;
    height: 120px;
    width: 83%;
    border-top: 1px solid #FAA31B;
    border-bottom: 1px solid #FAA31B;
}

.hour-cell {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    width: 55px;
    height: 120px;
    text-align: right;
    vertical-align: top;
    padding-top: 8px;
    padding-right: 8px;
    border-left: 1px solid #FAA31B;
}

.day-cell {
    display: flex;
    flex: 1;
    width: 7em;
    height: 120px;
    border-left: 1px solid #FAA31B;

}

.day-cell-last {
    display: flex;
    flex: 1;
    width: 150px;
    height: 120px;
    border-left: 1px solid #FAA31B;
    border-right: 1px solid #FAA31B;
}

/** --- scrollable --- */

.div-weekly-scrollable {
    margin: auto 85px auto 110px;
    max-height: 400px;
    width: 100%;
    overflow: auto;
    background-color: transparent;
}

/* ---------------- DAILY ------------------ */



.monthTitle .nav-arrows{
    margin-left: 50px;
}

.monthTitle{
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.monthTitle button {
    border: none;
    width: 40px;
    height: 40px;
    margin: 2px;
    border-radius: 50%;
    background-color: #F5F5F5;
    color: #FAA31B;
    font-size: 20px;
}
.monthTitle button:hover {
    background-color: rgba(0,0,0,0.05);
    cursor: pointer;
}


.monthTitle {
    margin-bottom: 30px;
    font-family: 'Jost', sans-serif;;
    font-weight: 300;
}

#dayContainer {


    font-family: 'Jost', sans-serif;
    font-weight: 300;
    color: #FAA31B;
    margin-top: 25px;
    margin-bottom: 40px;
    margin-left: 75px;
    margin-right: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#daySection {
    border-color: #FAA31B;
    border-style: solid;
    max-height: 550px;
    width: 95%;
    overflow: scroll;    
}

#daySection::-webkit-scrollbar{
    display: none;
}

.hours {
    border-bottom: #FAA31B 1px solid;
    margin-left: 30px;
    margin-right: 30px;
    max-height: 50px;
    display: flex;
    flex-direction: row;
    align-items:baseline;
    position: relative;
    animation: editopen 0.8s;
}


.dayTitle {
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    font-weight: 300;
    margin-left: 30px;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 30px;
    animation: editopen 0.8s;
    position: sticky;
    z-index: 950;
}


/* This is for the POP UP */

.day-cell-mouse-hover {
    border: 1.5px solid #FAA31B;
    background-color: #FAA31B;
    transform: scale(1.01);
    box-shadow: 0 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* EVENT FORM */
.event-form {
    background-color: #FAA31B;
    border-radius: 15px;
    height: 555px;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -300px;
    font-family: 'Jost', sans-serif;
    padding: 30px;
}

/* Event Form Section */
.event-form-section {
    font-family: 'Jost', sans-serif;
    color: #F5F5F5;
    height: 38px;
    margin-bottom: 10px;
}

/* Title */
.event-form h4 {
    font-size: 25px;
    margin-bottom: 10px;
}

/* Subtitle */
.event-form h5 {
    margin-bottom: 5px;
}

/* Input fields */
.event-form input[type="text"],
.event-form input[type="date"],
.event-form input[type="time"] {
    width: 100%;
    border: none;
    border-bottom: 1px solid #F5F5F5;
    background: none;
    font-size: 12px;
    color: #F5F5F5;
    margin-bottom: 10px;
    height: min-content;
    padding: 0px 0px;
}

/* Location field */
.event-form input[name="location"] {
    font-size: 12px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #F5F5F5;
}

/* Text area */
.event-form textarea {
    width: 100%;
    height: 20px;
    border: none;
    border-bottom: 1px solid #F5F5F5;
    background: none;
    color: #F5F5F5;
    font-family: 'Jost', sans-serif;
    font-size: 12px;
}

/* Submit button */
.event-form input[type="submit"] {
    background-color: #FAA31B;
    border: none;
    color: #F5F5F5;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

/* Submit button hover */
.event-form input[type="submit"]:hover {
    background-color: #FAA31B;
}

/* Hidden class for form */
.event-form-hidden {
    display:none;
}

.button-update {
    border:1px solid blue;
}

.button-delete {
    border:1px solid red;
}

.button-hidden {
    display:none;
}

/* Close button */
.btn-close {
    background: none;
    border: none;
    font-size: 20px;
    color: #F5F5F5;
    float: right;
}

/* Submit button */
.button-submit {
    margin-top: 20px;
    margin-left: 220px;
    font-size: 20px;
    font-family: 'Jost', sans-serif;
    color: #FAA31B;
    background: #F5F5F5;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 100px;
}



/* ---------------- MONTH EVENT CONTAINER ------------------ */

.eventCont{
    border: none;
    background-color: #F5F5F5;
    position: relative;
    left: -105px;
    top: 5px;
    width: 130px;
    height: 30px;
    line-height: 20px;
    text-align: left;
    border-radius: 5px;
    color: #FAA31B;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 5px;
    margin-bottom: 5px;
    transition: 100ms ease-out;
}
.eventCont::before {
    content: "•";
    color: #5BC8AF;
    font-size: 1.7em;
    padding-right: 5px;
    position: relative;
    top: 3px;
}
.eventCont:focus {
    opacity: 1;
    color: white;
    background-color: #FAA31B;
    opacity: 0.8;    
}

.eventCont:focus::before {
    color: white;
}

/* ---------------- DAY EVENT CONTAINER ------------------ */

.eventDay{
    
    border: none;
    /* background-color: #F5F5F5; */
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 50px;
    position: relative;
    /* height: 30px; */
    width: 180px;
    top: 10px;
    
    text-align: left;
    border-radius: 5px;
    /* color: #FAA31B; */
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    z-index: 1;
    padding-left: 15px;
    padding-right: 15px;
   
    
    
    transition: 100ms ease-out;
    color: white;
    background-color: #faa41bcb;
    
}

#details{
    height: fit-content;
    width: 100%;
    margin-bottom: 0;
}




.eventDay:focus::before {
    color: white;
}





.deleteDiv{
    display: none;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.452);
    position: absolute;
    top:0;
    right: 0px;
    transition: transform 80ms ease-in;
    padding-bottom: 25px;

}
.deleteDiv > button{
    width: 80%;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
	border: 1px solid #FAA31B;
	background-color: #FAA31B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding-top: 10px;
    padding-bottom: 10px;
	animation: editopen 0.5s;
    transition: transform 80ms ease-in;
}

.deleteDiv>button:hover {
	transform: scale(1.1);
}
.deleteDiv>button:active {
	transform: scale(0.95);
}

.desc{
    display: flex;
    color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	animation: editopen 0.5s;
    transition: transform 80ms ease-in;
    word-wrap:break-word
}


@keyframes editopen{
    from{opacity: 0;}
    to{opacity: 1}

/* ---------------- WEEK EVENT CONTAINER ------------------ */

.eventWeek{
    border: none;
    background-color: #F5F5F5;
    margin-left: 10px;
    width: 130px;
    height: 30px;
    line-height: 20px;
    text-align: left;
    border-radius: 5px;
    color: #FAA31B;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 5px;
    margin-bottom: 5px;
    transition: 100ms ease-out;
}
.eventWeek::before {
    content: "•";
    color: #5BC8AF;
    font-size: 1.7em;
    padding-right: 5px;
    position: relative;
    top: 3px;
}
.eventWeek:focus {
    opacity: 1;
    color: white;
    background-color: #FAA31B;
    opacity: 0.8;    
}

.eventWeek:focus::before {
    color: white;

}