body {
    background-color: #F5F5F5;
    font-family: 'Jost', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    font-family: 'Italiana', serif;
}

.logo img {
    height: 50px;
    float: left;
  }

.menu-toggle {
    color: #FAA31B;
    background-color: transparent;
}

.menu-toggle:hover {
    color: #F5F5F5;
}

.navigation {
    float: right;
}

.nav-button {
    display: inline-block;
}

.content {
    clear: both;
}

footer.footer {
    background-color: #F5F5F5;
    border-top: 1px solid #F5F5F5;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}


/* DAY DIV */
#dayContainer{
    
    font-family: 'Jost', sans-serif;
    color: #FAA31B;
    
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 75px;
    margin-right: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#daySection{
    border-color: #FAA31B;
    border-style: solid;
    border-radius: 5px;
    max-height: 550px;
    width: 95%;
    overflow: scroll;
}

.hour{
    border-bottom: #FAA31B 1px solid;
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
    
    display: flex;
    align-items: center;
}

.dayTitle{
    font-family: 'Jost', sans-serif;
    margin-left: ;
}