@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

* {
	box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
    font-family: 'Jost', sans-serif;
    color: #FAA31B;
    width: 1300px;
    justify-content: center;
}

/* ---------------- HEADER ------------------ */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    padding: 20px;
}

.logo img {
    height: 50px;
    float: left;
}

.navigation {
    float: right;
}

.nav-button {
    color: #727272;
    display: inline-block;
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 0 15px;
}

.nav-button:hover {
    color: #FAA31B;
    cursor: pointer;
}
.nav-button:focus {
    color: #FAA31B;
}

.content {
    clear: both;
}

/* ---------------- HOME PAGE ------------------ */
h2 {
    text-align: center;
    font-family: 'Italiana', serif;
    font-size: 40px;
    letter-spacing: 4px;
    padding:0;
    margin:0;
    padding-top: 80px;
    padding-bottom: 8px;
}
img.home_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 160px;
}
h3 {
    text-align: center;
    font-family: 'Italiana', serif;
    font-size: 60px;
    letter-spacing: 7px;
    padding:0;
    margin:0;
    top: 10px;
}

/* ---------------- MAIN CONTENT ------------------ */
#content {
    position: relative;
}

#content #calendar-container {
    width: 1300px;
    margin: 0 auto;
}

/* ---------------- MENU BUTTON ------------------ */
.menu-container {
    float: left;
    position: absolute;
    top: 37px;
    left: 115px;
}
.menu-toggle {
    width: fit-content;
    cursor: pointer;
}

.menu-toggle:hover {
    color: #545454;
}

.bar1,
.bar2,
.bar3 {
    width: 20px;
    height: 1px;
    background-color: #FAA31B;
    margin: 6px 0;
    transition: 0.4s;

}

.change .bar1 {
    transform: translate(0, 7px) rotate(-45deg);
    color: #545454;
}

.change .bar2 {
    opacity: 0;
    color: #545454;
}
.change .bar3 {
    transform: translate(0, -7px) rotate(45deg);
    color: #545454;
}
.dropdown-menu {
    padding: 20px 0;
    border-radius: 15px;
    background-color: #FAA31B;
}
.hidden {
    visibility: hidden;
}
.active {
    visibility: visible;
}
.dropdown-menu a {
    display: block;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    padding: 10px 40px;
}
.dropdown-menu a:hover {
    background-color: #f9b03b;
}

/* ---------------- MONTHLY ------------------ */

.monthHeading {
    text-align: center;
    color: #FAA31B;
    position: relative;
    left: 45px;
}

.monthHeading .nav-arrows {
    float: right;
    position: relative;
    right: 450px;
    bottom: 5px;
    
}

.monthHeading button {
    border: none;
    width: 40px;
    height: 40px;
    margin: 2px;
    border-radius: 50%;
    background-color: #F5F5F5;
    color: #FAA31B;
    font-size: 20px;
}

.monthHeading button:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.row-0,
.row {
    display: flex;
    justify-content: center;
}

.dayHeading {
    width: 150px;
    height: 40px;
    color: #FAA31B;
    text-align: center;
    line-height: 40px;
    margin: 2px;
}

.day-cont {
    display: flex;
    justify-content: right;
    width: 150px;
    height: 120px;
    border: 1px solid #FAA31B;
    background-color: #F5F5F5;
    text-align: center;
    line-height: 70px;
    margin: 2px;
    z-index: -1;
}
.day-cont .date-marker {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin: 5px;
}

/* ---------------- FOOTER ------------------ */

footer.footer {
    background-color: #F5F5F5;
    border-top: 1px solid #F5F5F5;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid lightgrey;
    padding: 20px;
    margin-top: 50px;
}

.copyright {
    text-align: center;
    color: #FAA31B;
}

/* ---------------- WEEKLY ------------------ */

.weekHeading {
    text-align: center;
    color: #FAA31B;
    height: 52px;
}

.div-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav-arrows {
    float: right;
    right: 45px;
    height: 50px;
}

.nav-arrows button {
    border: none;
    width: 40px;
    height: 40px;
    margin: 2px;
    border-radius: 50%;
    background-color: #F5F5F5;
    color: #FAA31B;
    font-size: 20px;
}

.nav-arrows button:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

#content #calendar-container {
    color: #FAA31B;
    display: flex;
    flex-direction: column;
}

.week-header-row {
    display: flex;
    text-align: center;
    background-color: #F5F5F5;
    margin-left: 140px;
    margin-right: 112px;
}

.header-cell {
    flex: none;
    text-align: center;
    font-weight: bold;
    padding: 0.5em;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    width: 134px;
  }

.header-cell-first {
    flex: none;
    width: 64px;
}

.div-header-row {
    display: flex;
}
  
.day-number {
    font-size: 0.8em;
    color: #FAA31B;
  }

.hour-row {
    display: flex;
    height: 120px;
    width: auto;
    border-top: 1px solid #FAA31B;
    margin-left: 140px;
    margin-right: 120px;
}

.hour-row-first {
    display: flex;
    height: 120px;
    width: auto;
    border-top: 1px solid #FAA31B;
    margin-left: 140px;
    margin-right: 120px;
}

.hour-row-last {
    display: flex;
    height: 120px;
    width: auto;
    border-top: 1px solid #FAA31B;
    border-bottom: 1px solid #FAA31B;
    margin-left: 140px;
    margin-right: 120px;
}

.hour-cell {
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    width: 55px;
    height: 120px;
    text-align: right;
    vertical-align: top;
    padding-top: 8px;
    padding-right: 8px;
    border-left: 1px solid #FAA31B;
}

.day-cell {
    display: flex;
    flex: 1;
    width: 150px;
    height: 120px;
    border-left: 1px solid #FAA31B;

}

.day-cell-last {
    display: flex;
    flex: 1;
    width: 150px;
    height: 120px;
    border-left: 1px solid #FAA31B;
    border-right: 1px solid #FAA31B;
}

/** --- scrollable --- */

.div-weekly-scrollable {
    margin:auto;
    max-height: 400px; 
    overflow: auto;
}

/* ---------------- DAILY ------------------ */



.monthTitle .nav-arrows{
    margin-left: 50px;
}

.monthTitle{
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.monthTitle button {
    border: none;
    width: 40px;
    height: 40px;
    margin: 2px;
    border-radius: 50%;
    background-color: #F5F5F5;
    color: #FAA31B;
    font-size: 20px;
}
.monthTitle button:hover {
    background-color: rgba(0,0,0,0.05);
    cursor: pointer;
}

#dayContainer{
    
}
.monthTitle {
    margin-bottom: 30px;
    font-family: 'Jost', sans-serif;;
    font-weight: 300;
}

#dayContainer {


    font-family: 'Jost', sans-serif;
    font-weight: 300;
    color: #FAA31B;
    margin-top: 25px;
    margin-bottom: 40px;
    margin-left: 75px;
    margin-right: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#daySection {
    border-color: #FAA31B;
    border-style: solid;
    max-height: 550px;
    width: 95%;
    overflow: scroll;
}

.hours {
    border-bottom: #FAA31B 1px solid;
    margin-left: 30px;
    margin-right: 30px;
    height: 50px;

    display: flex;
    align-items: center;
}

.dayTitle {
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    font-weight: 300;
    margin-left: 30px;
    margin-top: 30px;
}

/* This is for the pop up */
.day-cell-mouse-hover {
    border: 2px solid #FAA31B;
}

/* EVENT FORM */
.event-form {
    background-color: gray;
    height: 400px;
    width: 600px;

    position: absolute;
    top: 0;
    left: 0;

    margin: auto;    
}

.event-form-hidden {
    display:none;
}